:root {
  --color-principal: #111E3F;
}

.footer {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--color-principal);
  color: white;
  padding: 40px 0;
  flex-direction: row;
  height: 475px;

}

.container-footer {
  margin-top: 50px;
  max-width: 1200px;
}

.footer p {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
