:root {
  --color-principal: #111E3F;
  --color-secundario: #C2AA72;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--color-principal);
  color: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  
}

.promo-container {
  padding: 15px;
  background-color: var(--color-secundario);
  margin-bottom: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.promo-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.promo-container p {
  margin: 5px 0;
}

.btn-validar,
.btn-denegar {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.btn-validar {
  background-color: #6a11cb;
  color: #fff;
}

.btn-denegar {
  background-color: #dc3545;
  color: #fff;
}

.btn-validar:hover,
.btn-denegar:hover {
  opacity: 0.8;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.alert-success {
  background-color: #28a745;
}

.alert-danger {
  background-color: #dc3545;
}


.pagination {
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item .page-link {
  color: var(--color-secundario);
  background-color: #fff;
}

.pagination .page-item .page-link:hover {
  background-color: black;
  color: #fff;
}

.pagination .page-item.active .page-link {
  z-index: 1;
  background-color: var(--color-secundario);
  color: #fff;
}

.filler {
  height: 35vh;
}