:root {
  --color-principal: #111E3F;
  --color-secundario: #C2AA72;
}




.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color-principal);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.promo-container {
  padding: 10px;
  margin-top: 10px;
}

.local-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.local-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-seleccionar {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-seleccionar:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}