:root {
  --color-principal: #111E3F;
  --color-principal-claro: rgb(11, 47, 91);
  --color-secundario: #C2AA72;
  --fuente: "Nimbus Sans TW01Con", "Nimbus Sans TW05Con", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

h5,
p {
  color: black;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 920px;
  
  @media (max-width: 525px) {
    height: 750px;
  }
}

.video-embed {
  position: absolute;
  top: calc(-107px);
  width: 140vw;
  height: 140vh;
  z-index: -100;
  object-fit: cover;
  pointer-events: none;
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
  overflow-x: hidden;
  top: -250px;
  
  
  @media (max-width: 1024px) {
    width: 175vw;
    height: 175vh;
    top: -800px;
  }
  @media (max-width: 820px) {
    width: 200vw;
    height: 200vh;
    top: -750px;
  }

  @media (max-width: 820px) {
    top: -650px;
  }
  
  @media (max-width: 525px) {
    width: 300vw;
    height: 300vh;
    top: -1000px;
  }

  @media (max-width: 375px) {
    width: 350vw;
    height: 350vh;
    top: -1050px;
  }
}


.video-text {
  display: flex;
  position: absolute;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-title {
  position: relative;
  font-family: var(--fuente);
  color: white;
  font-weight: 700;
  font-size: 98px;
  z-index: 2;
  line-height: 85px;
  top: -50px;

  @media (max-width: 992px) {
    top: -100px;
    font-size: 98px;

  }
  @media (max-width: 668px) {
    top: -200px;
    font-size: 80px;
  }
  
  @media (max-width: 525px) {
    top: -100px;
    font-size: 70px;
  }
}

.video-button {
  position: relative;
  top: -30px;

  img {
    width: 65px;
    height: 65px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  @media (max-width: 992px) {
    top: -75px;
  }
  @media (max-width: 668px) {
    top: -175px;
  }
  
  @media (max-width: 525px) {
    top: -110px;
  }
}


.novedades {
  position: relative;

  @media (max-width: 1125px) {
    top: -150px;
    
  }
  @media (max-width: 992px) {
    top: -100px;
  }
  @media (max-width: 668px) {
    top: -150px;
  }
  
  @media (max-width: 525px) {
    top: -100px;
    
  }
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}

hr {
  border: 1px solid white;
  width: 100%;
}

.marcas {
  background-color: var(--color-principal);
  color: white;
  padding: 20px 0;
}

.marcas-title {
  font-family: var(--fuente);
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 40px;

  @media (max-width: 992px) {
    text-align: center;
  }

}

.marcas-logos {
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;

  width: 186px; 
  height: 191px; 
  object-fit: cover; 
  object-position: 50% 50%;
  margin: 25px;
  
}

.marcas-logos:hover {
  background-color: rgba(255, 255, 255, 0.868);
}

.services-title {
  margin-bottom: 50px;
  margin-bottom: 30px;
  font-family: var(--fuente);
  color: var(--color-principal);
  font-weight: 700;
  font-size: 45px;
}


.card {
  border-style: solid;
  background-color: var(--color-secundario);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--fuente);
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 35px;
  font-weight: 700;
  
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  color: white;
}

.card-text {
  color: white;
  font-family: sans-serif;
  font-size: 19px;
  margin-bottom: 40px;
  padding: 0;
}

.btn-primary {
  background-color: #6a11cb;
  border: none;
}

.btn-primary:hover {
  background-color: #4c057e;
}

.carousel {
  z-index: 1;
  /* Asegúrate de que este número sea menor que el z-index de tu navbar */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Esto empuja el título arriba y el texto abajo */
  height: 100%;
  /* Asegura que el card-body ocupe todo el espacio disponible en .card */
}

.parallax {
  background-image: url('../assets/patio-comidas.jpg');
  width: 100%;
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.584);
  z-index: 1;
  
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  color: white;
  z-index: 2;
}

.overlay h2 {
  font-family: var(--fuente);
  color: white;
  font-weight: 700;
  font-size: 69px;

  @media (max-width: 992px) {
    font-size: 65px;
  }

  @media (max-width: 525px) {
    font-size: 55px;
  }
}

.overlay p {
  font-family: sans-serif;
  color: white;
  font-weight: 400;
  font-size: 19px;

  @media (max-width: 992px) {
    font-size: 25px;
  }

  @media (max-width: 525px) {
    font-size: 20px;
  }
}

.container-horarios {
  display: flex;
  height: 35vh;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1200px;
  margin-left: 20vw;
  
  font-family: var(--fuente);
  color: var(--color-principal-claro);
  font-weight: 500;
  font-size:25px;
  @media (max-width: 992px) {
    margin: 150px auto;
    text-align: center;
    align-items: center;
  }

}


.horarios {
  margin-left: 1px;
  margin-bottom: 40px;
  
  @media (max-width: 992px) {
    margin-left: 0;
  }
}

.horarios h2 {
  font-size: 40px;
  
}

.container-horarios p {
  color: var(--color-principal-claro);
  text-wrap: nowrap;
}

.locales {
  flex-direction: row;
  @media (max-width: 992px) {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.locales h3 {
  margin-bottom: -5px;
}

.container-estacionamiento {
  position: relative;
  width: 100%;
  height: 650px;
  background-image: url('../assets/estacionamiento.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--fuente);
  text-align: center;
  font-weight: 500;
  font-size:19px;
  z-index: 1;
}

.container-estacionamiento::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.441);
  z-index: 1;
}

.texto-estacionamiento {
  color: white;
  z-index: 2;
}


.container-estacionamiento p {
  color: white;
  font-family: sans-serif;
}

.container-estacionamiento h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.container-estacionamiento h3 {
  font-size: 69px;
  
  @media (max-width: 992px) {
    font-size: 45px;
  }

  @media (max-width: 525px) {
    font-size: 33px;
    padding-bottom: 10px;
  }
}

.formulario {
  background-color: var(--color-secundario);
  width: 100%;
  height: 67vh;
  display: flex;
  justify-content: center;
  align-items: center;
    
  @media (max-width: 992px) {
    height: 125vh;
  }
}

.container-formulario {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 70px;
  
  @media (max-width: 992px) {
    flex-direction: column;
    text-align: center;
  }
}

.container-formulario input, .container-formulario textarea {
  margin-bottom: 25px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  
}

.container-formulario input:focus, .container-formulario textarea:focus  {
  box-shadow: inset 0 0 0 2px black;
}

.container-formulario input:hover, .container-formulario textarea:hover  {
  box-shadow: inset 0 0 0 2px black;
}

.container-formulario input {
  height: 50px;
}

.container-formulario textarea {
  height: 125px;
}

.container-formulario p, .container-formulario h2 {
  color: white;
}

.container-formulario h2 {
  font-family: var(--fuente);
  font-weight: 700;
  font-size: 40px;

  margin-bottom: 40px;

  @media (max-width: 992px) {
    font-size: 50px;
  }
}

.container-formulario p {
  font-family: var(--fuente);
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;

  @media (max-width: 992px) {
    font-size: 30px;
  }

}

.container-formulario button {
  background-color: var(--color-principal);
  border: none;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 15px 75px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.container-formulario button:hover {
  background-color: white;
  color: var(--color-secundario);
}

.container-formulario a {
  color: white;
  text-decoration: underline;
}

.container-formulario a:hover {
  color: var(--color-principal-claro);
  text-decoration: underline;
}

.formulario-input {
  margin-top: 60px;
}
