/* .carousel-item img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 500px;
}

.carousel-control-prev,
.carousel-control-next {
  border-style: none;
  border-color: transparent;
  background-color: black;
  max-width: 100px;
} */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h5,
p {
  color: black;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 920px;

}

.video-embed {
  position: absolute;
  top: calc(-107px);
  width: 110vw;
  height: 110vh;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
  overflow-x: hidden;
  top: -10px;
  
  
  @media (max-width: 992px) {
    width: 175vw;
    height: 175vh;
    top: -450px;
  }
  @media (max-width: 668px) {
    width: 200vw;
    height: 200vh;
    top: -650px;
  }
  
  @media (max-width: 525px) {
    width: 300vw;
    height: 300vh;
    top: -1050px;
  }

  @media (max-width: 375px) {
    width: 350vw;
    height: 350vh;
    top: -1250px;
  }
}

.video-title {
  position: relative;
  font-family: "Nimbus Sans TW01Con", "Nimbus Sans TW05Con", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 98px;
  z-index: 2;
  line-height: 85px;
  top: 40px;

  @media (max-width: 992px) {
    top: -100px;
    font-size: 98px;

  }
  @media (max-width: 668px) {
    top: -110px;
    font-size: 98px;
  }
  
  @media (max-width: 525px) {
    top: -120px;
    font-size: 70px;
  }
}

.video-text {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-button {
  position: absolute;
  top: 250px;

  img {
    width: 65px;
    height: 65px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}



.container {
  max-width: 800px;
  margin: 50px auto;
}

.card {
  border-style: solid;
  border-color: black;
  transition: transform 0.2s;
  height: 250px;
  /* Altura fija para todas las cartas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Espacio entre el título y el texto */
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.card-text {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #6a11cb;
  border: none;
}

.btn-primary:hover {
  background-color: #4c057e;
}

.carousel {
  z-index: 1;
  /* Asegúrate de que este número sea menor que el z-index de tu navbar */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Esto empuja el título arriba y el texto abajo */
  height: 100%;
  /* Asegura que el card-body ocupe todo el espacio disponible en .card */
}