:root {
  --color-principal: #111E3F;
  --color-secundario: #C2AA72;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  background-color: var(--color-principal);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: white;
 
}

.promo-container {
  padding: 15px;
  margin-bottom: 20px;
  background-color: var(--color-secundario);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: white;
  font-family: "Nimbus Sans TW01Con", "Nimbus Sans TW05Con", sans-serif;
  font-weight: 400;
  font-size: 25px;
}



.promo-container p {
  margin-bottom: 10px;
}

.btn-seleccionar {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  padding: 15px;
  font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_35-light", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: var(--color-principal);;
  border: none;
  
  cursor: pointer;

}

.btn-seleccionar:hover {
  background-color: white;
  color: var(--color-secundario);
}



.alert {
  padding: 15px;
  background-color: #f44336;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert.success {
  background-color: #4CAF50;
}

.alert.info {
  background-color: #2196F3;
}

.alert.warning {
  background-color: #ff9800;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.local-container {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  background-color: var(--color-secundario);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-family: "Nimbus Sans TW01Con", "Nimbus Sans TW05Con", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: white;
}

.local-image {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.local-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.local-info {
  flex: 1;
}

.local-info p {
  margin: 2px;
}

.pagination {
  margin-top: 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.pagination .page-item {
  display: inline-block;
  margin-right: 5px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.pagination .page-link {
  color: var(--color-secundario);
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.pagination .page-link:hover {
  background-color: black;
  color: white;
}

.pagination .page-item.active .page-link {
  background-color: var(--color-secundario);
  color: white;

}


.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 6px 12px;
  font-size: 16px;
  color: var(--color-secundario);
  background-color: transparent;
  text-decoration: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.pagination a:hover {
  background-color: black;
  color: white;
}

.pagination .active a {
  background-color: var(--color-secundario);
  color: white;
}


@media (max-width: 768px) {
  .local-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .local-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .local-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.submit {
  background-color: var(--color-principal);
  border: none;
  margin-bottom: 10px;
  font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_35-light", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 15px;
}

.submit:hover {
  background-color: white;
  color: var(--color-secundario);
}



.buscar {
  display: flex; 
  align-items: center;
}

.buscar > input {
  padding: 13px;
  flex: 1;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.buscar > button {
  background-color: var(--color-secundario);
  padding: 15px;
  color: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.buscar > button:hover {
  background-color: black;
  color: white;
}

.filtrar {
  display: block;
  width: 100%;
  background-color: var(--color-secundario);
  border: none;
  margin-bottom: 10px;
  font-family: "avenir-lt-w01_35-light1475496", "avenir-lt-w05_35-light", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 10px auto;
  padding: 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.filtrar:hover {
  background-color: black;
  color: white;
}

.form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.rubro {
  font-family: "Nimbus Sans TW01Con", "Nimbus Sans TW05Con", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: white;
}

.promo-aprobada {
  font-family: "Nimbus Sans TW01Con", "Nimbus Sans TW05Con", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
}