:root {
  --color-principal: #111E3F;
  --color-secundario: #C2AA72;
}
  
  body {
    background: var(--color-secundario)
  }

  .container {
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
  }

  /* .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: black;
  } */

  .form-control:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
  }

  .btn-primary {
    background-color: var(--color-principal);
    border: none;
  }

  .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.868);
    color: var(--color-secundario);
  }

  label {
    font-weight: bold;
  }

  .alert {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }

  /* .alert-success {
  background-color: #28a745; 
  border: 1px solid #218838; 
}

.alert-danger {
  background-color: #dc3545; 
  border: 1px solid #c82333; 
}*/


.alert.success {
  background-color: #28a745;
  color: #fff;
  border: 1px solid #00b300;
}

.alert.danger {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #ff0000;
}